################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThreadingTestProj/v16/Server/sqlite3/db.lock
.vs/ThreadingTestProj/v16/Server/sqlite3/storage.ide
.vs/ThreadingTestProj/v16/Server/sqlite3/storage.ide
.vs/ThreadingTestProj/v16/Server/sqlite3/storage.ide-shm
.vs/ThreadingTestProj/v16/Server/sqlite3/storage.ide-wal
ThreadingTestProj/obj/Debug/netcoreapp3.1/ThreadingTestProj.assets.cache
